<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <style>
    h1{
      color:darkorchid;
    }
    h1{
      text-align: center;
    }
  </style>
    <h1>Bank</h1>
  <body>

  <nav class="navbar navbar-expand-sm" bg-dark style="background-color:ghostwhite">
    <!-- Brand/logo -->
    

    <!-- Links -->
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/home" ><span class="glyphicon glyphicon-home"></span>home &nbsp;&nbsp;</a>
      </li>
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/newuser"><span class="glyphicon glyphicon-log-in"></span>&nbsp;New Account&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </li>  
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/existinguser"><span class="glyphicon glyphicon-user"></span>&nbsp;Already have an account &nbsp;</a>&nbsp;
    </li>
  </ul>


  

    </nav>
  
</body> 
</html>
  
